<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thejakeofink.measureup"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.thejakeofink.measureup.LengthActivity"
            android:label="@string/title_activity_length" >
        </activity>
        <activity
            android:name="com.thejakeofink.measureup.VolumeActivity"
            android:label="@string/title_activity_volume" >
        </activity>
        <activity
            android:name="com.thejakeofink.measureup.TempActivity"
            android:label="@string/title_activity_temp" >
        </activity>
        <activity
            android:name="com.thejakeofink.measureup.MassActivity"
            android:label="@string/title_activity_mass" >
        </activity>
        <activity
            android:name="com.thejakeofink.measureup.CurrencyActivity"
            android:label="@string/title_activity_currency" >
        </activity>
        <activity
            android:name="com.thejakeofink.measureup.DataActivity"
            android:label="@string/title_activity_data" >
        </activity>
        <activity
            android:name="com.thejakeofink.measureup.TipActivity"
            android:label="@string/title_activity_tip" >
        </activity>
    </application>

</manifest>
